<h2> PLEASE DONATE NOW: </h2>

<p>This effort is entirely self-funded and volunteer supported.</p>

<p>Any help that you can provide with your support, time, crypto, or fiat will be used to improve the site, increase our outreach, and make this information more widely available so that the greatest number of people possible will have transparent, official, and actionable data during this Pandemic, and lives can be saved!
</p>

<h3>CRYPTOCURRENCY ADDRESSES:</h3>

<p> BTC: 1LG9dUf39dCKAEFcKm6guNhadTJwNqj44J <br><br>

BCH: qrf504gk8n6sujjegwastxqdz2lv5vlv65pxs03s7k <br><br>

ETH: 0x549ffFB83ac67Ca1Ae47668ac3cAAE3e0c77a9bd <br><br>

XLM: GCVRV67LBHTMVXKDAJSW3S3ASASI6EJWQU2LYEOGKPSJEY42PYRAUDME <br><br>

VET: 0xa81cd7a8272E053A18a13459425FFd260105EDd9 <br><br>


ADDITIONAL CRYPTO ADDRESSES AVAILABLE UPON REQUEST
</p>
<p>
FIAT CURRENCY:   Please contact <a href="mailto:sjoseph@susangjoseph.com">sjoseph@susangjoseph.com</a>.
</p>
<p>
GoFundMe:   Coming Soon  </p>