<h4> <strong>Articles</strong> </h4>
<br>
<strong>CoinDesk</strong>: <a href="https://www.coindesk.com/the-coronavirus-api-delivers-vital-statistics-unmediated-by-government-hands?utm_source=&utm_medium=&utm_campaign=&clid=00Q1I00000KKcgnUAD">The Coronavirus API Delivers Vital Statistics Unmediated by Government Hands</a>
<br><br>
<h4> <strong>Interviews</strong></h4>
<br>
<strong> law.MIT.edu:</strong> <a href="https://youtu.be/O-_NeLJ6WiY">Spotlight on Coronavirusapi</a>

