<h2 class="text-center"> OFFICIAL SOURCES </h2>

<p>CoronavirusAPI offers aggregated, real-time and transparent access to public health records
from State, Territory and other government entities in a common form, with data analytics. All
data provided here are automatic captures of direct real-time crawls of official State and
  Territory public health reported data on web pages that are listed below.</p>

<p>Work is currently underway to add data from the up to 3,124 different Counties websites.</p>

<p>All websites last crawled: <%= @updated_date %></p>

<p><a href="mailto:coronavirusapi@googlegroups.com">Contact</a> for more info, or if you want to contribute to the project.
</p>

<p>To donate crypto, please see the donate tab. To donate fiat, please contact Susan at
  <a href="mailto:sjoseph@susangjoseph.com">sjoseph@susangjoseph.com</a>.
</p>

<h2> Source Data: </h2>

<h3> (Last Updated 22 March 2020) </h3>

<h3> Please be aware that States are frequently adjusting where and what information they are
  making publicly available and this list of Government data sources will be updated on a
  regular basis as well. </h3>

<h2> <u>States</u></h2>

<p>
  <a href="http://alabamapublichealth.gov/infectiousdiseases/2019-coronavirus.html">http://alabamapublichealth.gov/infectiousdiseases/2019-coronavirus.html</a><br>
  <a href="http://dhhs.ne.gov/Pages/Coronavirus.aspx">http://dhhs.ne.gov/Pages/Coronavirus.aspx</a><br>
  <a href="http://floridahealthcovid19.gov">http://floridahealthcovid19.gov</a><br>
  <a href="http://ldh.la.gov/coronavirus/">http://ldh.la.gov/coronavirus/</a><br>
  <a href="http://www.dph.illinois.gov/topics-services/diseases-and-conditions/diseases-a-z-list/coronavirus">http://www.dph.illinois.gov/topics-services/diseases-and-conditions/diseases-a-z-list/coronavirus</a><br>
  <a href="http://www.kdheks.gov/coronavirus/index.htm">http://www.kdheks.gov/coronavirus/index.htm</a><br>
  <a href="http://www.vdh.virginia.gov/surveillance-and-investigation/novel-coronavirus/">http://www.vdh.virginia.gov/surveillance-and-investigation/novel-coronavirus/</a><br>
  <a href="https://chfs.ky.gov/agencies/dph/Pages/covid19.aspx">https://chfs.ky.gov/agencies/dph/Pages/covid19.aspx</a><br>
  <a href="https://coronavirus-dashboard.utah.gov">https://coronavirus-dashboard.utah.gov</a><br>
  <a href="https://coronavirus.delaware.gov">https://coronavirus.delaware.gov</a><br>
  <a href="https://coronavirus.health.ny.gov/county-county-breakdown-positive-cases">https://coronavirus.health.ny.gov/county-county-breakdown-positive-cases</a><br>
  <a href="https://coronavirus.health.ok.gov/">https://coronavirus.health.ok.gov/</a><br>
  <a href="https://coronavirus.ohio.gov/wps/portal/gov/covid-19/">https://coronavirus.ohio.gov/wps/portal/gov/covid-19/</a><br>
  <a href="https://covid19.colorado.gov/data">https://covid19.colorado.gov/data</a><br>
  <a href="https://dhhr.wv.gov/Coronavirus%20Disease-COVID-19/Pages/default.aspx">https://dhhr.wv.gov/Coronavirus%20Disease-COVID-19/Pages/default.aspx</a><br>
  <a href="https://dhss.delaware.gov/dhss/dph/epi/2019novelcoronavirus.html">https://dhss.delaware.gov/dhss/dph/epi/2019novelcoronavirus.html</a><br>
  <a href="https://doh.sd.gov/news/Coronavirus.aspx">https://doh.sd.gov/news/Coronavirus.aspx</a><br>
  <a href="https://dph.georgia.gov/covid-19-daily-status-report">https://dph.georgia.gov/covid-19-daily-status-report</a><br>
  <a href="https://dphhs.mt.gov/publichealth/cdepi/diseases/coronavirusmt">https://dphhs.mt.gov/publichealth/cdepi/diseases/coronavirusmt</a><br>
  <a href="https://health.hawaii.gov/docd/advisories/novel-coronavirus-2019/">https://health.hawaii.gov/docd/advisories/novel-coronavirus-2019/</a><br>
  <a href="https://health.mo.gov/living/healthcondiseases/communicable/novel-coronavirus/">https://health.mo.gov/living/healthcondiseases/communicable/novel-coronavirus/</a><br>
  <a href="https://health.ri.gov/data/covid-19/">https://health.ri.gov/data/covid-19/</a><br>
  <a href="https://health.wyo.gov/publichealth/infectious-disease-epidemiology-unit/disease/novel-coronavirus/">https://health.wyo.gov/publichealth/infectious-disease-epidemiology-unit/disease/novel-coronavirus/</a><br>
  <a href="https://healthandwelfare.idaho.gov/COVID19/tabid/4664/Default.aspx">https://healthandwelfare.idaho.gov/COVID19/tabid/4664/Default.aspx</a><br>
  <a href="https://idph.iowa.gov/Emerging-Health-Issues/Novel-Coronavirus">https://idph.iowa.gov/Emerging-Health-Issues/Novel-Coronavirus</a><br>
  <a href="https://msdh.ms.gov/msdhsite/_static/14,0,420.html">https://msdh.ms.gov/msdhsite/_static/14,0,420.html</a><br>
  <a href="https://nmhealth.org/about/erd/ideb/ncov/">https://nmhealth.org/about/erd/ideb/ncov/</a><br>
  <a href="https://nvhealthresponse.nv.gov/">https://nvhealthresponse.nv.gov/</a><br>
  <a href="https://odh.ohio.gov/wps/portal/gov/odh/know-our-programs/Novel-Coronavirus/2019-nCoV">https://odh.ohio.gov/wps/portal/gov/odh/know-our-programs/Novel-Coronavirus/2019-nCoV</a><br>
  <a href="https://phpa.health.maryland.gov/Pages/Novel-coronavirus.aspx">https://phpa.health.maryland.gov/Pages/Novel-coronavirus.aspx</a><br>
  <a href="https://portal.ct.gov/Coronavirus">https://portal.ct.gov/Coronavirus</a><br>
  <a href="https://tableau.azdhs.gov/views/COVID-19Dashboard/COVID-19table?:isGuestRedirectFromVizportal=y&amp;:embed=y">https://tableau.azdhs.gov/views/COVID-19Dashboard/COVID-19table?:isGuestRedirectFromVizportal=y&amp;:embed=y</a><br>
  <a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/nCOV2019.aspx">https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/nCOV2019.aspx</a><br>
  <a href="https://www.dhs.wisconsin.gov/outbreaks/index.htm">https://www.dhs.wisconsin.gov/outbreaks/index.htm</a><br>
  <a href="https://www.doh.wa.gov/emergencies/coronavirus">https://www.doh.wa.gov/emergencies/coronavirus</a><br>
  <a href="https://www.dshs.state.tx.us/news/updates.shtm#coronavirus">https://www.dshs.state.tx.us/news/updates.shtm#coronavirus</a><br>
  <a href="https://www.health.nd.gov/diseases-conditions/coronavirus/north-dakota-coronavirus-cases">https://www.health.nd.gov/diseases-conditions/coronavirus/north-dakota-coronavirus-cases</a><br>
  <a href="https://www.health.pa.gov/topics/disease/Pages/Coronavirus.aspx">https://www.health.pa.gov/topics/disease/Pages/Coronavirus.aspx</a><br>
  <a href="https://www.health.pa.gov/topics/disease/coronavirus/Pages/Cases.aspx">https://www.health.pa.gov/topics/disease/coronavirus/Pages/Cases.aspx</a><br>
  <a href="https://www.health.state.mn.us/diseases/coronavirus/situation.html">https://www.health.state.mn.us/diseases/coronavirus/situation.html</a><br>
  <a href="https://www.healthvermont.gov/response/infectious-disease/2019-novel-coronavirus">https://www.healthvermont.gov/response/infectious-disease/2019-novel-coronavirus</a><br>
  <a href="https://www.healthy.arkansas.gov/programs-services/topics/novel-coronavirus">https://www.healthy.arkansas.gov/programs-services/topics/novel-coronavirus</a><br>
  <a href="https://www.in.gov/coronavirus/index.htm">https://www.in.gov/coronavirus/index.htm</a><br>
  <a href="https://www.maine.gov/dhhs/mecdc/infectious-disease/epi/airborne/coronavirus.shtml">https://www.maine.gov/dhhs/mecdc/infectious-disease/epi/airborne/coronavirus.shtml</a><br>
  <a href="https://www.mass.gov/info-details/covid-19-quarantine-and-monitoring">https://www.mass.gov/info-details/covid-19-quarantine-and-monitoring</a><br>
  <a href="https://www.michigan.gov/coronavirus">https://www.michigan.gov/coronavirus</a><br>
  <a href="https://www.ncdhhs.gov/covid-19-case-count-north-carolina">https://www.ncdhhs.gov/covid-19-case-count-north-carolina</a><br>
  <a href="https://www.nh.gov/covid19/">https://www.nh.gov/covid19/</a><br>
  <a href="https://www.nj.gov/health/">https://www.nj.gov/health/</a><br>
  <a href="https://www.oregon.gov/oha/PH/DISEASESCONDITIONS/DISEASESAZ/Pages/emerging-respiratory-infections.aspx">https://www.oregon.gov/oha/PH/DISEASESCONDITIONS/DISEASESAZ/Pages/emerging-respiratory-infections.aspx</a><br>
  <a href="https://www.scdhec.gov/monitoring-testing-covid-19">https://www.scdhec.gov/monitoring-testing-covid-19</a><br>
  <a href="https://www.scdhec.gov/monitoring-testing-covid-19">https://www.scdhec.gov/monitoring-testing-covid-19</a><br>
  <a href="https://www.tn.gov/health/cedep/ncov.html">https://www.tn.gov/health/cedep/ncov.html</a><br>
<br>
</p><br>
<h2> Territories</h2>
<p>
  <a href="https://coronavirus.dc.gov/page/coronavirus-surveillance-data">https://coronavirus.dc.gov/page/coronavirus-surveillance-data</a><br>
  <a href="https://www.chcc.gov.mp/coronavirusinformation.php">https://www.chcc.gov.mp/coronavirusinformation.php</a><br>
  <a href="http://www.samoagovt.ws/category/latest-news/">http://www.samoagovt.ws/category/latest-news/</a><br>
  <a href="https://ghs.guam.gov/coronavirus-covid-19">https://ghs.guam.gov/coronavirus-covid-19</a><br>
  <a href="http://www.salud.gov.pr/Pages/coronavirus.aspx">http://www.salud.gov.pr/Pages/coronavirus.aspx</a><br>
</p>



