<p>CoronavirusAPI offers aggregated, real-time and transparent access to public health records from State, Territory and other government entities in a common form, with data analytics. All data provided here are automatic captures of direct real-time crawls of certain unofficial sources that are listed below. </p>
<p>Work is currently underway to add data from the up to 3,124 different Counties websites.</p>

<p>(All websites last crawled: <%= @updated_date %>)</p>

<p><a href="mailto:coronavirusapi@googlegroups.com">Contact</a> for more info, or if you want to contribute to the project.
</p>

<p>To donate crypto, please see the donate tab. To donate fiat, please contact Susan at
  <a href="mailto:sjoseph@susangjoseph.com">sjoseph@susangjoseph.com</a>.
</p>

<h2>List of Unofficial Sources</h2>