

input#menu {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
label.menu-opener {
  position: absolute;
  right:15px;
  top: 12px;
  display:none;
  width:12px;
  height:15px;
  padding:5px;
  font-size:1.8em;
  color:#fff;
  transition:color .3s ease-in-out;
  cursor: pointer;
  user-select:none;
  margin:0;
  //background:rgba(0, 0, 0, .4);
  color: black;
}

.main-content {
  background-color: white;
}
@media screen and (max-width: 44em) {
  $menu_width: 10em;

  body {
    overflow-x: hidden;

  }

  nav[role="off-canvas"] {
    position: absolute;
    right: -$menu_width;
    width: $menu_width;
    top: 50px;
    flex-direction: column;

    ul > li {
      width: 100%;
    }
  }

  label.menu-opener {
    display: block;
  }

  label.menu-opener:after {
    position: absolute;
    content: "\2261";
    font-size: 1.6em;
  }

  input:checked ~ .main-nav nav {
    margin-right: 15px;
    right: 15px;
  }

  input:checked ~ .main-content {
    margin-right: $menu_width + .5em;
    margin-left: -($menu_width + .5em);
  }
  input:checked ~ .maain-nav {
    //margin-right: $menu_width + .5em;
    margin-left: -($menu_width + .5em);
  }

}